body {
  background: linear-gradient(135deg, #74b9ff, #3ca8fa);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-card {
  background: #8cbdf1;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
  color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  text-align: center;
}

.right h1 {
  font-size: 60px;
  margin: 0;
}

#icon {
  width: 80px;
}

.search {
  margin-top: 20px;
  text-align: center;
}

input {
  padding: 8px;
  width: 65%;
  border: none;
  border-radius: 5px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
